<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920767503483-1j49moqk969hl3do7ibmrsnurjpfihcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920767503483-1j49moqk969hl3do7ibmrsnurjpfihcr</string>
	<key>API_KEY</key>
	<string>AIzaSyBZyGh6lLe9PkRVK5fd6S-F4ORheNG3FLk</string>
	<key>GCM_SENDER_ID</key>
	<string>920767503483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hyperionstudios.com.au.flutterShop</string>
	<key>PROJECT_ID</key>
	<string>fluttershop-8a243</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttershop-8a243.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920767503483:ios:c0c91f9232315c69</string>
	<key>DATABASE_URL</key>
	<string>https://fluttershop-8a243.firebaseio.com</string>
</dict>
</plist>